.header {
    background-color: #a4508b;
    background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);  
    text-align: center;
    font-size:xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.structure {
    background-color: #b3cdd1;
    background-image: linear-gradient(315deg, #b3cdd1 0%, #9fa4c4 74%);
    height: 100vh;
}

.search-display {
    border: solid blue 1px;
    height: 100vh;

}

.searchText {
    margin: 10px;
    text-align: center;
}

.btn-primary {
    margin: 10px;
}



.weather-forecast{
    border: solid green 1px;
}

.weather-display{
    border: solid black 1px;
    height: 35%;
    margin-top: 5px;
}

.fiveDays {
    margin: 10px;
}

.cardDisplay {
    border: solid red 1px;
}

#cityName {
    margin: 10px;
}

.list {
    list-style-type: none;
    margin-top: 10px;
}